<!-- no known way to create/modify global site var/config; therefore can't cache these -->

{% assign products = '' | split: '' %}
{% for collection in site.collections %}
    {% for page in collection.docs %}
        {% for product in page.products %}
            {% unless products contains product %}
                {% assign arrayForm = product | split: '@%[' %}
                {% assign products = products | concat: arrayForm %}
            {% endunless %}
        {% endfor %}
    {% endfor %}
{% endfor %}
