{% comment %}
# https://developers.google.com/style/code-syntax#optional-arguments
{% endcomment -%}

{%- if post -%}
    {%- assign usage = post.usage -%}
    {%- assign layout = post.layout -%}
{%- else -%}
    {%- assign usage = page.usage -%}
    {%- assign layout = page.layout -%}
{%- endif -%}

{%- if usage.signature -%}
    <div class="post-meta">:information_source: signature <code>
        {%- if layout == "attribute" -%}@{%- endif -%}
        {{- page.slug | escape }} {{ usage.signature -}}</code>
    </div>
{%- endif -%}

{%- if usage.default -%}
    <div class="post-meta">:house: default <code>{{- usage.default -}}</code></div>
{%- endif -%}

{%- if usage.examples[0] -%}
    <div class="post-meta" style="display:flex; justify-content:flex-start; align-items:flex-start;">:bulb: examples&nbsp;
    <pre>
    {%- for example in usage.examples -%}
        {{- example -}}
        {%- unless forloop.last -%}<br/>{%- endunless -%}
    {%- endfor -%}
    </pre>
    </div>
{%- endif -%}
