{% comment %}
# https://developers.google.com/style/code-syntax#optional-arguments
{% endcomment -%}

{%- if post -%}
    {%- assign usage = post.usage -%}
    {%- assign layout = post.layout -%}
{%- else -%}
    {%- assign usage = page.usage -%}
    {%- assign layout = page.layout -%}
{%- endif -%}

{%- if usage -%}
    <dl class="post-meta">
    {%- if usage.signature -%}
        <dt>:information_source: signature</dt>
        <dd><code>{%- if layout == "attribute" -%}@{%- endif -%}
            {{- page.slug | escape }} {{ usage.signature -}}
        </code></dd>
    {%- endif -%}

    {%- if usage.default -%}
        <dt>:house: default</dt><dd><code>{{- usage.default -}}</code></dd>
    {%- endif -%}

    {%- if usage.examples[0] -%}
        <dt>:bulb: examples</dt>
        <dd><pre>{%- for example in usage.examples -%}
            {{- example -}}
            {%- unless forloop.last -%}<br/>{%- endunless -%}
        {%- endfor -%}</pre></dd>
    {%- endif -%}
    </dl>
{%- endif -%}
