{% comment %}
# https://developers.google.com/style/code-syntax#optional-arguments
{% endcomment -%}

{% if post %}
    {% assign usage = post.usage %}
{% else %}
    {% assign usage = page.usage %}
{% endif %}

{% if usage.signature %}
    <div class="post-meta">:information_source: <code>{{- usage.signature -}}</code></div>
{% endif %}

{% if usage.examples[0] %}
    <div class="post-meta" style="display:flex; justify-content:flex-start; align-items:flex-start;">:bulb:&nbsp;
    <pre>
    {%- for example in usage.examples -%}
        {{- example -}}
        {%- unless forloop.last -%}<br/>{%- endunless -%}
    {%- endfor -%}
    </pre>
    </div>
{% endif %}
